# Coq build artifacts
*.glob
*.vo
*.swp
*.vok
*.vos
*.aux
.*.aux
*.v.crashrocqide

# Coq project file
_CoqProject


# Mojo build artifacts
*.mojo.so
*.mojopkg/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are created by a PyInstaller executable
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# General
.DS_Store
